/* TAGS */
body {
    background: #f8f8f8;
}

input {
    -webkit-border-radius: 3px;
    border: 1px solid lightgray;
    color: #666;
    float: left;
    line-height: 20px;
    margin-right: 5px;
    padding: 2px 5px;
}

input:focus {
    outline: none;
}

label {
    color: #666;
    float: right;
}
/* IDS */

#process-instances {
    display: inline-flex;
    padding: 5px;
}


/* CLASSES */

.go-button {
    -webkit-border-radius: 3px;
    background: #36ba98;
    color: white;
    cursor: pointer;
    float: right;
    font-weight: bold;
    padding: 5px 10px;
}

.go-button:hover {
    background: #02a27a;
}

.section-container {
    clear: both;
}

.error {
    border: 1px solid red;
}