/* TAGS */
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    background: #f8f8f8;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 2px;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

input {
    -webkit-border-radius: 3px;
    border: 1px solid lightgray;
    color: #666;
    float: left;
    line-height: 19px;
    margin-right: 5px;
    padding: 3px 5px;

}
input:focus {
    outline: none;
}

pre {
    text-align: center;
    color: gray;
}

label {
    color: #666;
    float: right;
}
/* IDS */

#header-container {
    text-align: center;
}

#process-instances {
    display: inline-flex;
    padding: 5px;
}


/* CLASSES */

.go-button {
    -webkit-border-radius: 3px;
    background: #36ba98;
    color: white;
    cursor: pointer;
    float: right;
    font-weight: bold;
    padding: 7px 10px;
}

.go-button:hover {
    background: #02a27a;
}

.section-container {
    clear: both;
}

.error {
    border: 1px solid red;
}