/* TAGS */
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    background: #f8f8f8;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 2px;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
    clear: both;
}


input {
    border-radius: 3px;
    border: 1px solid lightgray;
    color: #666;
    line-height: 19px;

}
input, select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    padding: 3px 5px;
    width: 180px;
}
input:focus, select:focus {
    outline: none;
}

pre {
    text-align: center;
    color: gray;
}

label {
    color: #666;
    float: right;
}
/* IDS */
#header-container {
    text-align: center;
}

#new-environment-container {
    display: none;
}

#about-container {
    width: 235px;
    display: none;
}

#environments-select {
    height: 27px;
    margin-right: 5px;
}

#add-environment-btn {
    background: #36ba98;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    /*font-weight: bold;*/
    /*font-size: 23px;*/
    height: 28px;
    width: 40px;
}

#about-btn, #back-btn {
    padding-right: 7px;
    text-align: right;
}

#remove-selected-env-btn {
    text-align: center;
    padding: 5px 0;
    margin: 0 20px 0 8px;
    width: 200px !important;
}

/* CLASSES */
hr.dashed {
    border-top: 1px dashed lightgray;
}
.pre-header-title {
    letter-spacing: 1px;
}

.section-container {
    clear: both;
    display: inline-flex;
    padding: 5px;
}

.text-container {
    color: gray;
    font-family: Consolas,monospace;
    font-size: 10px;
    padding: 0 5px;
    text-align: center;
}

.fake-link {
    cursor: pointer;
    letter-spacing: 1px;
}

.go-button {
    background: #36ba98;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-left: 5px;
    padding: 7px 11px;
}

.display-inline {
    display: inline-flex;
}

.go-button:hover, #add-environment-btn:hover {
    background: #02a27a;
}

.toggled-button {
    background: #02a27a !important;
}
.error {
    border: 1px solid red;
}

.danger-btn {
    padding: 5px 20px;
    background: red;
}

.arrow-down {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  height: 0; 
  margin-left: 14px;
  margin-top: 12px;
  position: absolute;
  width: 0; 
}